<header>
    <div class="header-banner">
      <div class="centered">Bookings</div>
    </div>
    <div class="clear"></div>

</header>

<div class="container">
  <div class="row mt-5 justify-content-md-left">
    <% @bookings.each do |booking| %>
      <div class="col-md-auto">
        <div class="card">
          <div class="card-body">
            <div class="col">
              <%# <%= cl_image_tag booking.photo.key, height: 300, width: 300, crop: :fill, class: "index-spaceship-image" unless spaceship.photo.key.nil? %>
            </div>

            <div class="col">
              <h3 class="card-title">Trip to: <%= booking. %></h3>
              <% if (bookings.destination_id == )%>
              <%= @destinations.each do |destination| %>
                  <option value="destination"><%= destination.name %></option>
                  <%= @booking.destination_id = destination.id %>
                <% end %>
              <h3 class="card-title">Vehicle: <%= booking.spaceship_id %></h3>
              <p class="card-text">Price: <%= booking.price %></p>
              <p class="card-text">Departure Date: <%= booking.departure_date %></p>
              <p class="card-text">Return Date: <%= booking.return_date %></p>
              <p class="card-text">Price: <%= booking.price %></p>
              <p class="card-text">No. of Zozoz: <%= booking.pax %></p>
              <p class="card-text">Cargaizon allowance: <%= booking.payload %></p>
              <p class="card-text text-muted">Last booked 3 minutes ago.</p>
              <br>
              <%= link_to "Info", booking_path(booking), class: "button-main" %>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <div class="col">
  </div>
</div>

  <%= link_to "Make a booking", new_booking_path, class:"btn btn-primary" %>
  <%= link_to "Back to homepage", root_path, class:"btn btn-outline-dark"%>
</div>
