<div class="container text-center">
  <ul class="text-center">
    <h1> <%= current_user.first_name %>, viewing your bookings</h1>
    <% @bookings.each do |booking| %>
      <% if (current_user.id == booking.user_id) %>
        <li>Destination: <%= booking.id %></li>
        <% desti_id = booking.destination_id %>
        <% @destinations.each do |destination| %>
          <% if booking.destination_id == destination.id %>
            <li>Destination name: <%= destination.name %></li>
          <% end %>
        <% end %>
        <li>Departure Date: <%= booking.departure_date %></li>
        <li>Return Date: <%= booking.return_date %></li>
        <li><%= booking.id %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "Make a booking", new_booking_path, class:"btn btn-primary" %>
  <%= link_to "Back to homepage", root_path, class:"btn btn-outline-dark"%>
</div>
