<header>
    <div class="header-banner">
    <div class="centered">Bookings</div>
    </div>
    <div class="clear"></div>
</header>
  <div class="container">
    <div class="card">
      <div class="card-body text-left">
  <br>
    <h1> Hello <%= current_user.first_name %>, view your <strong>bookings:</strong></h1>
    <% @bookings.each do |booking| %>
      <% if (current_user.id == booking.user_id) %>
        <br>
        <p><strong>Destination:</strong> <%= booking.id %></p>
        <% @destinations.each do |destination| %>
          <% if booking.destination_id == destination.id %>
            <p><strong>Destination name:</strong> <%= destination.id %></p>
          <% end %>
        <% end %>
        <p><strong>Departure Date:</strong> <%= booking.departure_date %></p>
        <p><strong>Return Date:</strong> <%= booking.return_date %></p>
        <p><%= booking.id %></p>
      <% end %>
    <% end %>
          </div>
        </div>
      </div>

  <br>
  <br>
  <%= link_to "Delete", bookings_path(@booking), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <%= link_to "Make a booking", new_booking_path, class:"btn btn-primary" %>
  <%= link_to "Back to homepage", root_path, class:"btn btn-outline-dark"%>
</div>
