
<! -- navbar -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
    <% end %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Spaceships", spaceships_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Destinations", destinations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
      </ul>
            <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>


    </div>
  </div>
</div>

<! -- navbar -->


<! -- banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675237893/background-image-atlas_hooexg.jpg);">
  <div class="container">
      <h1>Atlas</h1>
      <p>Your next takeoff is one click-away!</p>
      <a class="btn btn-flat" href="spaceships/new">Book now</a>
  </div>
</div>

<! -- banner -->


  <% if user_signed_in? %>
    <h2>World, hello <%= current_user.first_name %>.</h2>
    <div class="d-flex align-items-center justify-content-left">
      <%= link_to "Me",  edit_user_registration_path, class:"btn btn-primary lg"%>
      <%= link_to "About Us", about_path, class:"btn btn-primary" %>
    </div>
    <% else %>
  <% end %>

  </div>

<! -- cards -->
<div class="container">
    <div class="title">
    <br>
        <h4>Highlights</h4>
    </div>
    <br>
  <div class="cards">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260739/nasa-CpHNKNRwXps-unsplash_dgdto3.jpg)">
      Spaceships
    </div>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260962/peakpx_pvyazi.jpg)">
      Destinations
    </div>

       <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqjdq06qv/image/upload/v1675260758/ju-guan-D-jLxBtEwaA-unsplash_efx5nd.jpg)">
      Reviews
    </div>
  </div>
</div>


<! -- cards -->


<! -- footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>

<! -- footer -->
