<div class="container">
  <ul>
    <h1>Spaceships</h1>
      <div class="row">
        <% @spaceships.each do |spaceship| %>
          <div class="col-sm-4">
            <div class="card-deck">
              <div class="card bg-light" style="width: auto; border-colour:red">
                <%= image_tag ("https://res.cloudinary.com/dqjdq06qv/image/upload/v1675237894/rocket_1_nsqt5d.jpg"), height: 400, crop: :fill, :class => "style_image" %>
                <div class="card-body" style="border-color:black">
                  <h5 class="card-title"><%= spaceship.name %></h5>
                  <p class="card-text">Available: <%= spaceship.availability %></p>
                  <p class="card-text">Max Payload: <%= spaceship.payload %></p>
                  <p class="card-text">Passengers: <%= spaceship.pax %></p>
                  <p class="card-text">Rocket description goes here.</p>
                  <p class="card-text text-muted">Last booked 3 minutes ago.</p>
                  <%= link_to "Details", spaceship_path(spaceship), class: "btn btn-info" %>
                  <%= link_to "Book Now!", new_booking_path, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </ul>

  <%= link_to "Add a spaceship", new_spaceship_path%>
  <%= link_to "Back to homepage", root_path %>

</div>
