<div class="container">
  <h1>Spaceships</h1>
    <div class="row mt-5 justify-content-md-left">
    <% @spaceships.each do |spaceship| %>
    <div class="col-md-auto">
      <div class="card">
        <div class="card-body">
          <div class="col">
    <%= cl_image_tag spaceship.photo.key, height: 300, width: 300, crop: :fill unless spaceship.photo.key.nil? %>
    </div>

    <div class="col">

      <h3 class="card-title"><%= spaceship.name %></h3>
      <p class="card-text">Available: <%= spaceship.availability %></p>
      <p class="card-text">Max Payload: <%= spaceship.payload %></p>
      <p class="card-text">Passengers: <%= spaceship.pax %></p>
      <p class="card-text">Rocket description goes here.</p>
      <p class="card-text text-muted">Last booked 3 minutes ago.</p>
      <br>

      <%= link_to "Info", spaceship_path(spaceship), class: "button-outline" %>
      <%= link_to "Book now", new_booking_path, class: "button-main" %>
      <br>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>

  <br>
  <div class="col">
    <%= link_to "Add a spaceship", new_spaceship_path, class: "btn btn-light"%>
    <%= link_to "Back to homepage", root_path, class: "btn btn-dark" %><br>
  </div>
</div>
