<header>
    <div class="header-banner">
    <div class="centered">Spaceships</div>
    </div>
    <div class="clear"></div>

</header>

<div class="container">
    <div class="row mt-5 justify-content-md-left">
    <% @spaceships.each do |spaceship| %>
    <div class="col-md-auto">
      <div class="card">
        <div class="card-body">
          <div class="col">
    <%= cl_image_tag spaceship.photo.key, height: 300, width: 300, crop: :fill, class: "index-spaceship-image" unless spaceship.photo.key.nil? %>
    </div>

    <div class="col">

      <h3 class="card-title"><%= spaceship.name %></h3>
      <p class="card-text">Max Payload: <%= spaceship.payload %></p>
      <p class="card-text">Passenger Capacity: <%= spaceship.pax %></p>
      <p class="card-text">Price: <%= spaceship.price %></p>
      <p class="card-text">Description: <%= spaceship.description %></p>
      <p class="card-text text-muted">Last booked 3 minutes ago.</p>
      <br>

      <%= link_to "Info", spaceship_path(spaceship), class: "button-outline" %>
      <%= link_to "Book now", new_booking_path, class: "button-main" %>
      <br>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>

  <br>
  <div class="col">
    <%= link_to "Back to homepage", root_path, class: "btn btn-dark" %>
    <%= link_to "Add a spaceship", new_spaceship_path, class: "btn btn-primary"%> <br>
  </div>
</div>
