<h2>Create new spaceship</h2>

<%# <form class="form-horizontal center" role="form"> %>
<%= form_with model: @spaceship do |f| %>
  <div class="field">
    <%= f.label :name, class: "col-md-4 control-label" %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :payload, class: "col-md-4 control-label" %> <br>
    <%= f.number_field :payload %> <br>
    <%= f.label :passenger_capacity, class: "col-md-4 control-label" %> <br>
    <%= f.number_field :pax %> <br>
    <%= f.label :price, class: "col-md-4 control-label" %> <br>
    <%= f.number_field :price %> <br>
    <%= f.label :description, class: "col-md-4 control-label" %> <br>
    <%= f.text_field :description %> <br>
    <%= f.label :photo %> <br>
    <%= f.file_field :photo, accept: 'image/png,image/jpeg' %> <br>
    <%= f.submit %>
  </div>

<% end %>

<br>
<%= link_to "Abort!", spaceships_path(@spaceship)%>
