
<div class="container">
  <div class="card bg-light" style="width: auto;">
    <div class="row bg-dark" style="border-colour:red">
      <div class="col-6" style="width: 6;">
        <div class="row text-light">
          <div class="col-3">
            <h3>Info</h3>
              <p>Max Payload: </p>
              <p>Passengers: </p>
              <p>Availability: </p>
              <p>Description: </p>
          </div>
          <div class="col-9">
            <h3> Details </h3>
            <p><%= @spaceship.payload %></p>
            <p><%= @spaceship.pax %></p>
            <p><%= @spaceship.availability %></p>
            <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
          </div>
        </div>
        <div class="row bg-info text-center">
          <h2>BOOK NOW!</h2>
          <div class="mx-auto" style="width: 400px;" >
            <%= form_with model: @booking do |f| %>
              <h4> <%= current_user.first_name %>, enter your info.</h4>
              <%= f.label :first_name %>
              <%= f.text_field :first_name %> <br>
              <%= f.label :last_name %>
              <%= f.text_field :last_name %> <br>
              <%= f.label :departure_date %>
              <%= f.number_field :departure_date %>
              <%= f.label :return_date %>
              <%= f.number_field :return_date %> <br>
              <%= f.label :pax %>
              <%= f.number_field :pax %> <br>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6 text-center">
        <%= image_tag ("https://res.cloudinary.com/dqjdq06qv/image/upload/v1675237894/rocket_1_nsqt5d.jpg"), style: 'display: block; margin: auto; width: 40%;' %>
      </div>
    </div>
  </div>

  <%= link_to "Delete",
    spaceship_path(@spaceship),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "Back", spaceships_path(@spaceship)%>
  <%= link_to "Edit", edit_spaceship_path(@spaceship)%>

</div>
