
<div class="container">
  <div class="card bg-light" style="width: auto;">
    <div class="row bg-dark" style="border-colour:red">
      <div class="col-6" style="width: 6;">
        <div class="row text-light">
          <div class="col-3">
            <h3>Info</h3>
              <p>Max Payload: </p>
              <p>Passengers: </p>
              <p>Availability: </p>
              <p>Description: </p>
          </div>
          <div class="col-9">
            <h3> Details </h3>
            <p><%= @spaceship.payload %></p>
            <p><%= @spaceship.pax %></p>
            <p><%= @spaceship.availability %></p>
            <p> </p>
          </div>
        </div>
        <div class="row bg-info text-center">
          <h2>BOOK NOW!</h2>
          <div class="mx-auto" style="width: 400px;" >
            <h2>Add a new booking</h2>
            <%= form_with model: @booking do |f| %>
              <%= f.label :departure_date %> <br>
              <%= f.number_field :departure_date %> <br>
              <%= f.label :return_date %> <br>
              <%= f.number_field :return_date %> <br>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6 text-center">
      <%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
      <%# <%= CL_image_tag ("https://res.cloudinary.com/dee7e7l0i/image/upload/v1675375286/rocket_1_nsqt5d_la9ycb.jpg"), height: 400, crop: :fill, :class => "style_image" %> %>
      </div>
    </div>
  </div>

  <%= link_to "Delete",
    spaceship_path(@spaceship),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "Back", spaceships_path(@spaceship)%>
  <%= link_to "Edit", edit_spaceship_path(@spaceship)%>
</div>
