<div class="container">
  <div class="card bg-light">
    <div class="card-row-spaceship">
        <div class="row d-flex">
          <div class="col">
            <h3><strong><%= @spaceship.name %></strong></h3>
              <p>Max Payload: <%= @spaceship.payload %></p>
              <p>Passengers: <%= @spaceship.pax %></p>
              <p>Availability:<%= @spaceship.availability %> </p>
              <p>Description: Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
              sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, </p>
        </div>

        <div class="row row-book-form">
        <br><br><br>
          <h3><strong>Make your booking</strong></h3>
          <div class="row row-book-form">
            <%= form_with model: @booking do |f| %>
              <h4> <%= current_user.first_name %>, enter your info.</h4>
              <div class= "booking-name">
                <div class="booking-first-name">
                  <%= f.label :first_name%>
                  <%= f.text_field :first_name, value: current_user.first_name %>
                </div>
                <div class="booking-last-name">
                  <%= f.label :last_name%>
                  <%= f.text_field :last_name, value: current_user.last_name%> <br>
                </div>
              </div>
              <div class= "booking-date">
                <div class="booking-date-departure">
                  <%= f.label :departure %>
                  <%= f.date_field :departure_date %> <br>
                </div>
                <div class="booking-date-return">
                  <%= f.label :return %>
                  <%= f.date_field :return_date %> <br>
                </div>
              </div>
              <%= f.label :pax %>
              <%= f.number_field :pax %> <br>
              <%= f.label :payload %>
              <%= f.number_field :payload, placeholder: "KG" %> <br>
              <%= f.label :spaceship %>
              <%= f.text_field :spaceship, value: @spaceship.name %> <br>
              <% @booking.spaceship_id = @spaceship.id %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col">
        <%= image_tag (@spaceship.photo), height: 400, crop: :fill %>

      </div>
    </div>
</div>

  <br>

  <%= link_to "Delete", spaceship_path(@spaceship), class: "btn btn-warning",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "Back", spaceships_path(@spaceship), class: "btn btn-dark"%>
  <%= link_to "Edit", edit_spaceship_path(@spaceship), class: "btn btn-primary"%>

</div>
